<!DOCTYPE html>
<html lang="en" xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/fragment :: css"></head>
<body>
<div th:include="fragment/fragment :: header-staff"></div>

<div class="container" style="margin-top: 40px; margin-bottom: 200px;">
    <div class="row">
        <div class="col-md-2 position-sticky " style="margin-top: 40px">
            <nav
                    id="sidebarMenu"
                    class="collapse d-lg-block sidebar collapse bg-white"
            >
                <div class="position-sticky">
                    <div class="list-group list-group-flush">
                        <a
                                th:href="@{/dashboard}"
                                class="list-group-item list-group-item-action py-2 ripple bg-light"
                        >
                            <i class="fas fa-chart-bar"></i>&nbsp;&nbsp;<span>Dashboard</span>
                        </a>
                        <a
                                th:href="@{/dashboard/customer}"
                                class="list-group-item list-group-item-action py-2 ripple"
                        >
                            <i class="far fa-user"></i>&nbsp;&nbsp;<span>Customer</span>
                        </a>
                        <a
                                th:href="@{/dashboard/food}"
                                class="list-group-item list-group-item-action py-2 ripple active"
                        ><i class="fas fa-utensils"></i>&nbsp;&nbsp;<span>Food</span></a
                        >
                        <a
                                th:href="@{/dashboard/order}"
                                class="list-group-item list-group-item-action py-2 ripple"
                        ><i class="fas fa-book"></i>&nbsp;&nbsp;<span>Order</span></a
                        >
                        <a
                                th:href="@{/category}"
                                class="list-group-item list-group-item-action py-2 ripple"
                        ><i class="fas fa-columns"></i>&nbsp;&nbsp;<span>Category</span></a
                        >
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-md-10">
            <main>
                <div class="container pt-4">
                    <section class="mb-4">
                        <div class="card">
                            <div class="card-header text-center py-3">
                                <h5 class="mb-0 text-center">
                                    <strong>Foods</strong>
                                </h5>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6"><a class="button button-tracking" th:href="@{/food/add}">
                                            Add Food
                                        </a></div>
                                        <div class="col-md-6"><a class="button button-tracking" th:href="@{/food/combo/add}">
                                            Add Combo
                                        </a></div>
                                    </div>
                                </div>
                                <form class="input-group filter-bar-search" th:action="@{/dashboard/food/search}" method="get">
                                    <input type="text" placeholder="Search" name="key" th:value="${key}" />
                                    <div class=" input-group-append">
                                        <button type="submit" class="form-control"><i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-hover text-nowrap table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID &nbsp; &nbsp;
                                            <a class="text-dark"
                                               th:href="@{'/dashboard/food/search/page/' + ${currentPage} + '?key=' + ${key} +'&sortField=ID&sortDirection=' + ${reverseSortDirection}}">
                                                <i class="fas fa-sort"></i>
                                            </a>
                                        </th>
                                        <th scope="col">Name &nbsp; &nbsp;<a class="text-dark"
                                                                             th:href="@{'/dashboard/food/search/page/' + ${currentPage} + '?key=' + ${key} +'&sortField=name&sortDirection=' + ${reverseSortDirection}}"><i
                                                class="fas fa-sort"></i></a></th>
                                        <th scope="col">Price &nbsp; &nbsp;<a class="text-dark"
                                                                              th:href="@{'/dashboard/food/search/page/' + ${currentPage} + '?key=' + ${key} +'&sortField=price&sortDirection=' + ${reverseSortDirection}}"><i
                                                class="fas fa-sort"></i></a></th>
                                        <th scope="col">Sold Quantity &nbsp; &nbsp;<a class="text-dark" th:href="@{'/dashboard/food/search/page/' + ${currentPage} + '?key=' + ${key} +'&sortField=soldQuantity&sortDirection=' + ${reverseSortDirection}}"><i
                                                class="fas fa-sort"></i></a></th>
                                        <th scope="col">Category</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="food : ${foodList}">
                                        <td th:text="${food.ID}"></td>
                                        <td><a class="text-decoration-none text-dark" th:href="@{'/food/' + ${food.ID}}">[[${food.name}]]</a></td>
                                        <td th:text="${food.price}"></td>
                                        <td th:text="${food.soldQuantity}"></td>
                                        <td><a class="text-decoration-none text-dark" th:href="@{'/dashboard/food?category=' + ${food.category.ID}}">[[${food.category.name}]]</a></td>
                                        <td>
                                            <a th:href="@{/food/edit/{id}(id=${food.ID})}" class="text-dark">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            &nbsp; &nbsp;
                                            <a th:href="@{/food/delete/{id}(id=${food.ID})}" class="text-dark">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                            <nav aria-label="..." th:if="${totalPages > 1}">
                                <ul class="pagination">
                                    <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}">
                                        <a th:if="${currentPage == i}" class="page-link bg-primary text-light"
                                           aria-current="page"
                                           th:href="@{'/dashboard/food/search/page/' + ${i} + '?key=' + ${key} +'&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                                        <a th:unless="${currentPage == i}" class="page-link"
                                           th:href="@{'/dashboard/food/search/page/' + ${i} + '?key=' + ${key} +'&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </section>
                </div>
            </main>
        </div>

    </div>
</div>
</div>

<div th:include="fragment/fragment :: footer"></div>
<div th:include="fragment/fragment :: js"></div>
<lock th:if="${message != null}">
    <div id="message" th:text="${message}"></div>
    <script>
        $("#message").hide();
        alert($("#message").text());
    </script>
    </th:block>

</body>
</html>