<!DOCTYPE html>
<html lang="en" xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/fragment :: css"></head>
<body>
<div th:include="fragment/fragment :: header-customer"></div>
<!--================ Hero banner start =================-->

<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <h3 class="text-center">Orders</h3>
                <div th:unless="${message == null }" th:text="${message}"></div>
                <table class="table table-striped" th:if="${message == null}">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Sub Total</th>
                        <th scope="col">Shipping Fee</th>
                        <th scope="col">Total</th>
                        <th scope="col">Order Time</th>
                        <th scope="col">Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order : ${orderList}">
                            <td><a class="text-decoration-none text-dark" th:href="@{/order/{id}(id=${order.ID})}" th:text="${order.ID}"></a></td>
                            <td th:text="${order.total}"></td>
                            <td th:text="${order.payment.amount - order.total}"></td>
                            <td th:text="${order.payment.amount}"></td>
                            <td th:text="${order.createTime}"></td>
                            <td>
                                <span th:if="${order.getOrderStatusCustomer().name().equals('Pending')}" th:text="${order.getOrderStatusCustomer}" class="text-light bg-danger"></span>
                                <span th:if="${order.getOrderStatusCustomer().name().equals('Completed')}" th:text="${order.getOrderStatusCustomer}" class="text-light bg-success"></span>
                            </td>
                            <td><a th:if="${order.getOrderStatusCustomer().name().equals('Pending')}" th:attr="onclick=|showUpdateOrderStatusModal('${order.ID}')|"><i class="far fa-edit"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div
        class="modal fade"
        id="order-status-modal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalScrollableTitle"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <form class="modal-content" method="post" th:action="@{/order/update}">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">
                    Order Confirm
                </h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="form-group" >
                            <input type="hidden" name="orderID">
                            <input type="hidden" name="status">
                            <label>Did you receive the dish?</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn btn-secondary"
                        id="btn-close-modal"
                >
                    Close
                </button>
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
</div>

<div th:include="fragment/fragment :: footer"></div>
<div th:include="fragment/fragment :: js"></div>

<script>
    function showUpdateOrderStatusModal(orderID) {
        $("#order-status-modal").modal('show');
        $("input[name=orderID]").val(orderID);
        $("input[name=status]").val('Completed');
    }
    $('#btn-close-modal').click(function () {
        $('#order-status-modal').modal('hide');
    })
</script>
</body>
</html>